.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vmin;
}
.container .item{
    background-color: rgb(88, 88, 94);
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
    transition: background-color 0.2s,transform 0.2s;
}
.container .item *{
    color: white;
}

.container label{
    position: relative;
    font-weight: bold;
    top:-10px;
}
.container .item a{
    color: white;
    display: flex;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 10px;
    transition: background-color 0.2s,color 0.2s;
}
.container .item .contenedorImagen{
    position: relative;
    width: 100%;
    height: 30vmin;
    cursor: pointer;
}
.container .item .contenedorImagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .item .contenedorImagen p{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.815);
    transform: translateY(20px);
    z-index: 3;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}
.container .item:hover{
    background-color: black;
    transform: scale(1.1);
    z-index: 2;
}
.container .item:hover a{
    background-color: white;
    color:black;
}
.container .item:hover p {
    transform: translateY(1px);
    opacity: 1;
}
@media (max-width:700px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container .item{
        width: 90%;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .container .item .contenedorImagen{
        height: 40vmin;
    }
}