.paginaContactenos h1{
    margin: 0;
}
.paginaContactenos form{
    margin: 2%;
}
.paginaContactenos form{
    display: flex;
    width: 50%;
    flex-direction: column;
    height: 100%; 
    background-color: black;
    padding: 20px;
}
.paginaContactenos .elementoForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3vmin;
    
}
.paginaContactenos .elementoForm label{
    color: white;
}

.paginaContactenos form>input{
    padding: 10px;
    font-size: 15px;
    font-weight: bolder; /*Negrita*/
}
.paginaContactenos form>input:hover{
    background-color: yellow;
    cursor: pointer;
}
.paginaContactenos .elementoForm input,
.paginaContactenos .elementoForm textarea
{
    padding: 3px;
}
.paginaContactenos .MasInfo{
    display: flex;
    width: 96%;
    flex-wrap: wrap; /*cuando es wrap, si no queda espacio para los elementos, permite que se creen mas lineas (o columnas) en el flex*/
    justify-content: center;   /*alineacion de elementos dentro de flex*/
    margin-bottom: 2%;
}
.paginaContactenos .MasInfo #direccion{
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 1% ;
}
.paginaContactenos .MasInfo *:not(#direccion){
    display: block;
    width: 50%;
    flex: 1 1 300px;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 1% ;
}
