.paginaGaleria {
  justify-content: space-evenly;

}
.paginaGaleria .Galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.paginaGaleria .Galeria .itemGaleria {
  width: 45%;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  /*flex: flex-grow flex-shrink flex-basis*/
  /*flex-grow: 0; mantiene proporciones de cada elemento dentro de flex*/
  /*flex-shrink: 0;permite que sea flexible*/
  /*flex-basis: 300px limite al que se puede encoger*/
  margin-bottom: 5%;
  background-color: black;
  padding: 10px;
}
.paginaGaleria .Galeria .itemGaleria span {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-size: 25px;
}
.paginaGaleria .Galeria .itemGaleria .titulo {
  text-align: center;
  color: yellow;
}
.paginaGaleria .Galeria .itemGaleria p {
  color: white;
  padding-top: 10px;
}
