nav
{
	position: fixed;
    top:0;
	margin: auto;
    z-index:3;
	width: 100%;
	height: 50px;
	background: black;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
#logo{
    width: 250px;
    height: 100%;
    object-fit: contain;
    margin: 0;
}
nav ul
{
    display: flex;
	position: relative;
	margin: 0;
	width: 60%;
    min-width: 550px;
	text-align: center;
    justify-content: space-evenly;          
}
#redesSociales{
    align-items: center;
    margin: 0;
    color:white;
    display: flex;
    justify-content: space-around;
}
#redesSociales *{
    margin:5px;
    font-size: 2.5vmax;
}
#redesSociales i:hover{
    transform: scale(1.2);
}
nav ul li
{
	display: flex;
	line-height: 50px;
	list-style: none;
    transition: color 0.3s,background-color 0.3s,transform 0.3s, font-weight 0.3s;
}
nav ul li:not(#redesSociales):hover{
    /*Selector not sirve para omitir el selector que va dentro de parentesis*/
    transform: scale(1.15);
}
nav ul li:not(#redesSociales):hover a{
    color: yellow;
    font-weight: bold;
}
nav ul li a
{
	color: white;
	text-decoration: none;
}