.parrafo{
    width: 90%;
    height: 40%;
    margin-bottom: 40px;
    height:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reversa{
    flex-direction: row-reverse;
}
.parrafo .texto{
    width:55%;
    padding:20px;
    text-align: justify;
}
.parrafo .foto{
    width: 45%;
    height: 50vmin;
    display: flex;
}
.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
@media (max-width:700px){
    .parrafo .foto, .parrafo .texto{
        width: 90%;
    }
    .parrafo{
        justify-content: center;
    }
}